/* SLIDER */

.mab_slider, .mab_slider .slider_inner { width: 100%; height: 100%; position: relative; }
.mab_slider .slider_inner { cursor: pointer; z-index: -1; }
.mab_slider.modal_wrapper { background: unset; box-sizing: content-box; }
.mab_slider .slider_next, .mab_slider .slider_prev  {
	position: absolute; top: 50%; right: 1%; z-index: 1;
	transform: translateY(-50%);
	cursor: pointer;
	width: 30px; height: 30px;
}
.mab_slider .slider_prev { right: unset; left: 1%; }
.mab_slider .slider_inner * {
	position: absolute; top: 0; left: 0; z-index: -1;
	width: 100%; height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease;
	visibility: hidden;
}
.mab_slider .slider_inner .active { opacity: 1; z-index: 1; visibility: unset; }

/* ========================================== */

/* LIGHTBOX */

.mab_lightbox { cursor: pointer; }
#mab_slider_lightbox.modal_wrapper { padding: 0; }
#mab_lightbox_modal .slider_inner * {
	cursor: initial;
	padding: 0;
	width: auto; height: auto;
	max-width: 90%; max-height: 90%;
	background: unset;
	top: 50%; left: 50%; transform: translate(-50%, -50%);
}
