/* FONT-FACE TEMPLATE ========================================== */

/*

---------------------

https://developer.mozilla.org/fr/docs/Web/CSS/font-weight

normal	=> Le niveau de graisse normal pour la fonte. Équivalent à la valeur 400.
bold	=> Le texte est en gras. Équivalent à la valeur 700.
lighter => On diminue la graisse d'un niveau par rapport à l'élément parent (selon les fontes / graisses disponibles pour la police utilisée). Le texte paraît plus fin.
bolder	=> On augmente la graisse d'un niveau par rapport à l'élément parent (selon les fontes / graisses disponibles pour la police utilisée). Le texte est plus gras.

---------------------

@font-face {
	font-family: "";
	src: url("xxx.eot") format("embedded-opentype"),
		 url("xxx.woff") format("woff"),
		 url("xxx.otf") format("truetype"),
		 url("xxx.ttf") format("truetype"),
		 url("xxx.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

*/

/* END FONT-FACE TEMPLATE ========================================== */


/* FONT-FACE ========================================== */

/* baloo ------------------------------------------ */

@font-face {
	font-family: "baloo";
	font-style: normal;
	font-weight: normal;
	src: url("baloo/Baloo2-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "baloo";
	font-style: normal;
	font-weight: bold;
	src: url("baloo/Baloo2-Bold.ttf") format("truetype");
}

/* bebas_neue ------------------------------------------ */

@font-face {
	font-family: "bebas_neue";
	font-style: normal;
	font-weight: normal;
	src: url("bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

/* lato ------------------------------------------ */

@font-face {
	font-family: "lato";
	font-style: normal;
	font-weight: 100;
	src: url("lato/Lato-Thin.ttf") format("truetype");
}
@font-face {
	font-family: "lato";
	font-style: normal;
	font-weight: 300;
	src: url("lato/Lato-Light.ttf") format("truetype");
}
@font-face {
	font-family: "lato";
	font-style: normal;
	font-weight: normal;
	src: url("lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "lato";
	font-style: normal;
	font-weight: bold;
	src: url("lato/Lato-Bold.ttf") format("truetype");
}

/* roboto ------------------------------------------ */

@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: 300;
	src: url("roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: normal;
	src: url("roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: bold;
	src: url("roboto/Roboto-Bold.ttf") format("truetype");
}

/* stag_sans ------------------------------------------ */

@font-face {
	font-family: "stagSans";
	font-style: normal;
	font-weight: 300;
	src: url("stag_sans/StagSans-Light.otf") format("truetype");
}
@font-face {
	font-family: "stagSans";
	font-style: normal;
	font-weight: normal;
	src: url("stag_sans/StagSans-Book.otf") format("truetype");
}
@font-face {
	font-family: "stagSans";
	font-style: normal;
	font-weight: bold;
	src: url("stag_sans/StagSans-Semibold.otf") format("truetype");
}

/* END FONT-FACE ========================================== */
